## Final Project

## Question 1

In [69]:
import pandas as pd

### Part 1
#### load the csv file ```Data_bowl.csv``` in variable ```df```

In [70]:
df = pd.read_csv("Data_bowl.csv")

#### Display top 6 values of your data (no need of sorting )

In [71]:
df.head(6)

,Player,Span,Mat,Inns,Balls,Runs,Wkts,BBI,BBM,Ave,Econ,SR,5_wkts
0,Imran Khan,1971-1992,88,142,19458,8258,362,8/58,14/116,22.81,2.54,53.7,23
1,Abdul Qadir,1977-1990,67,111,17126,7742,236,9/56,13/101,32.80,2.71,72.5,15
2,Waqar Younis,1989-2003,87,154,16224,8788,373,7/76,13/135,23.56,3.25,43.4,22
3,Wasim Akram,1985-2002,104,181,22627,9779,414,7/119,11/110,23.62,2.59,54.6,25
4,Fazal Mahmood,1952-1962,34,53,9834,3434,139,7/42,13/114,24.70,2.09,70.7,13
5,Saeed Ajmal,2009-2014,35,67,11592,5003,178,7/55,11/111,28.10,2.58,65.1,10

#### Display bottom 6 values of your data (no need of sorting )

In [72]:
df.tail(6)

,Player,Span,Mat,Inns,Balls,Runs,Wkts,BBI,BBM,Ave,Econ,SR,5_wkts
73,Umar Gul,2003-2013,47,90,9599,5553,163,6/135,9/164,34.06,3.47,58.8,4
74,Wahab Riaz,2010-2018,27,49,5018,2864,83,5/63,7/134,34.50,3.42,60.4,2
75,Wasim Raja,1973-1985,57,69,4082,1826,51,4/50,6/86,35.80,2.68,80.0,0
76,Younis Khan,2000-2017,118,31,804,491,9,2/23,4/50,54.55,3.66,89.3,0
77,Zaheer Abbas,1969-1985,78,14,370,132,3,2/21,2/26,44.00,2.14,123.3,0
78,Zulfiqar Babar,2013-2016,15,28,4478,2129,54,5/74,8/233,39.42,2.85,82.9,2

#### Using pandas ```shape```  command display the size of your data

In [73]:
print(df.shape)

(79, 13)

### Part 2
#### Using pandas sort_values command sort the data on the basis of number of matches played in descending order

In [74]:
df.columns

Index(['Player', 'Span', 'Mat', 'Inns', 'Balls', 'Runs', 'Wkts', 'BBI', 'BBM',
       'Ave', 'Econ', 'SR', '5_wkts'],
      dtype='object')

In [75]:
df.sort_values(by='Mat', ascending=False)

,Player,Span,Mat,Inns,Balls,Runs,Wkts,BBI,BBM,Ave,Econ,SR,5_wkts
38,Javed Miandad,1976-1993,124,36,1470,682,17,3/74,5/94,40.11,2.78,86.4,0
76,Younis Khan,2000-2017,118,31,804,491,9,2/23,4/50,54.55,3.66,89.3,0
3,Wasim Akram,1985-2002,104,181,22627,9779,414,7/119,11/110,23.62,2.59,54.6,25
62,Saleem Malik,1982-1999,103,30,734,414,5,1/3,1/3,82.80,3.38,146.8,0
0,Imran Khan,1971-1992,88,142,19458,8258,362,8/58,14/116,22.81,2.54,53.7,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...
51,Mohsin Kamal,1984-1994,9,12,1348,822,24,4/116,4/41,34.25,3.65,56.1,0
23,Aizaz Cheema,2011-2012,7,14,1200,638,20,4/24,8/103,31.90,3.19,60.0,0
47,Mohammad Farooq,1960-1965,7,11,1422,682,21,4/70,5/82,32.47,2.87,67.7,0
18,Aamer Nazir,1993-1995,6,12,1057,597,20,5/46,8/96,29.85,3.38,52.8,1
71,Tanvir Ahmed,2010-2013,5,10,707,453,17,6/120,6/149,26.64,3.84,41.5,1

#### Check if Zaheer Abbas is present in our Data using ```in``` command

In [76]:
"Zaheer Abbas" in df['Player'].values

True

#### Check if Majid Khan is present in  our Data using ```in``` command

In [77]:
"Majid Khan" in df['Player'].values

True

#### Using str.contains() command display the records of all the bowlers with name abbas

In [78]:
df[df['Player'].str.contains("abbas", case=False)]

,Player,Span,Mat,Inns,Balls,Runs,Wkts,BBI,BBM,Ave,Econ,SR,5_wkts
13,Mohammad Abbas,2017-2018,10,19,2244,923,59,5/33,10/95,15.64,2.46,38.0,4
77,Zaheer Abbas,1969-1985,78,14,370,132,3,2/21,2/26,44.00,2.14,123.3,0

### Part 3 
### Example:
#### To display the data of Players who have taken more than 50 wicket we use following commands

In [79]:
mask1= df['Wkts']>=50
df[mask1]

,Player,Span,Mat,Inns,Balls,Runs,Wkts,BBI,BBM,Ave,Econ,SR,5_wkts
0,Imran Khan,1971-1992,88,142,19458,8258,362,8/58,14/116,22.81,2.54,53.7,23
1,Abdul Qadir,1977-1990,67,111,17126,7742,236,9/56,13/101,32.80,2.71,72.5,15
2,Waqar Younis,1989-2003,87,154,16224,8788,373,7/76,13/135,23.56,3.25,43.4,22
3,Wasim Akram,1985-2002,104,181,22627,9779,414,7/119,11/110,23.62,2.59,54.6,25
4,Fazal Mahmood,1952-1962,34,53,9834,3434,139,7/42,13/114,24.70,2.09,70.7,13
5,Saeed Ajmal,2009-2014,35,67,11592,5003,178,7/55,11/111,28.10,2.58,65.1,10
6,Mushtaq Ahmed,1990-2003,52,89,12532,6100,185,7/56,10/106,32.97,2.92,67.7,10
7,Saqlain Mushtaq,1995-2004,49,86,14070,6206,208,8/164,10/155,29.83,2.64,67.6,13
8,Danish Kaneria,2000-2010,61,112,17697,9082,261,7/77,12/94,34.79,3.07,67.8,15
9,Intikhab Alam,1959-1977,47,78,10474,4494,125,7/52,11/130,35.95,2.57,83.7,5
10,Iqbal Qasim,1976-1988,50,86,13019,4807,171,7/49,11/118,28.11,2.21,76.1,8
11,Shoaib Akhtar,1997-2007,46,82,8143,4574,178,6/11,11/78,25.69,3.37,45.7,12
12,Yasir Shah,2014-2018,30,58,9952,5157,173,7/76,10/141,29.80,3.10,57.5,13
13,Mohammad Abbas,2017-2018,10,19,2244,923,59,5/33,10/95,15.64,2.46,38.0,4
14,Mohammad Asif,2005-2010,23,44,5171,2583,106,6/41,11/71,24.36,2.99,48.7,7
15,Sarfraz Nawaz,1969-1984,55,95,13951,5798,177,9/86,11/125,32.75,2.49,78.8,4
16,Sikander Bakht,1976-1983,26,45,4870,2412,67,8/69,11/190,36.00,2.97,72.6,3
20,Aaqib Javed,1989-1998,22,37,3918,1874,54,5/84,8/118,34.70,2.86,72.5,1
21,Abdul Razzaq,1999-2006,46,76,7008,3694,100,5/35,7/155,36.94,3.16,70.0,1
22,Abdur Rehman,2007-2014,22,43,6892,2910,99,6/25,8/92,29.39,2.53,69.6,2
27,Asif Iqbal,1964-1980,58,54,3864,1502,53,5/48,6/75,28.33,2.33,72.9,2
31,Azeem Hafeez,1983-1985,18,28,4351,2204,63,6/46,7/160,34.98,3.03,69.0,4
39,Junaid Khan,2011-2015,22,41,4605,2253,71,5/38,8/151,31.73,2.93,64.8,5
41,Khan Mohammad,1952-1958,13,22,3157,1292,54,6/21,8/41,23.92,2.45,58.4,4
42,Mahmood Hussain,1952-1962,27,42,5910,2628,68,6/67,6/88,38.64,2.66,86.9,2
46,Mohammad Amir,2009-2018,33,61,6985,3344,107,6/44,7/64,31.25,2.87,65.2,4
48,Mohammad Hafeez,2003-2018,52,72,4007,1794,53,4/16,4/48,33.84,2.68,75.6,0
50,Mohammad Sami,2001-2012,36,66,7499,4483,85,5/36,8/106,52.74,3.58,88.2,2
52,Mudassar Nazar,1976-1989,76,96,5967,2532,66,6/32,6/38,38.36,2.54,90.4,1
53,Mushtaq Mohammad,1959-1979,57,70,5260,2309,79,5/28,9/119,29.22,2.63,66.5,3
54,Nasim-ul-Ghani,1958-1973,29,40,4406,1959,52,6/67,8/120,37.67,2.66,84.7,2
56,Pervez Sajjad,1964-1973,19,35,4145,1410,59,7/74,9/112,23.89,2.04,70.2,3
57,Rahat Ali,2013-2018,21,39,4227,2264,58,6/127,7/100,39.03,3.21,72.8,2
63,Shabbir Ahmed,2003-2005,10,19,2576,1175,51,5/48,8/109,23.03,2.73,50.5,2
72,Tauseef Ahmed,1980-1993,34,58,7778,2950,93,6/45,9/77,31.72,2.27,83.6,3
73,Umar Gul,2003-2013,47,90,9599,5553,163,6/135,9/164,34.06,3.47,58.8,4
74,Wahab Riaz,2010-2018,27,49,5018,2864,83,5/63,7/134,34.50,3.42,60.4,2
75,Wasim Raja,1973-1985,57,69,4082,1826,51,4/50,6/86,35.80,2.68,80.0,0
78,Zulfiqar Babar,2013-2016,15,28,4478,2129,54,5/74,8/233,39.42,2.85,82.9,2

####  Write a snippet of code which  displays the name of record where captain name starts with ```I```
<i> Hint: if your answer includes 'Asif Iqbal' answer is incorrect</i>

In [80]:
mask2 = df.Player.str.startswith("I")

df[mask2]

,Player,Span,Mat,Inns,Balls,Runs,Wkts,BBI,BBM,Ave,Econ,SR,5_wkts
0,Imran Khan,1971-1992,88,142,19458,8258,362,8/58,14/116,22.81,2.54,53.7,23
9,Intikhab Alam,1959-1977,47,78,10474,4494,125,7/52,11/130,35.95,2.57,83.7,5
10,Iqbal Qasim,1976-1988,50,86,13019,4807,171,7/49,11/118,28.11,2.21,76.1,8
36,Imran Farhat,2001-2013,40,15,427,284,3,2/69,2/69,94.66,3.99,142.3,0
37,Imran Khan,2014-2017,9,17,1492,844,28,5/58,6/128,30.14,3.39,53.2,1


#### Coloumn BBI gives the number of wicket against runs given i.e 8/ 58 represets 8 wickets for 58 runs, Make a list which contains only wickets 
<i> Hint: make a list of BBI by split on '/'</i>

In [81]:
wickets = df.BBI.str.split('/').str[0]
wickets

0     8
1     9
2     7
3     7
4     7
     ..
74    5
75    4
76    2
77    2
78    5
Name: BBI, Length: 79, dtype: object

### Part 4
Display the records for which wicket in BBM is greater than 11 , matches played are greater than 15 and span is greater than 3 years

In [82]:
span_mask = df['Span'].str.split("-").map(lambda x: int(x[1]) -int (x[0])) > 3

In [83]:
# Function to extract wickets from BBM
def extract_wickets_bbm(bbm_value):
    try:
        return int(bbm_value.split('/')[0])
    except:
        return 0

# Function to calculate span in years
def calculate_span_years(span_value):
    try:
        start_year, end_year = map(int, span_value.split('-'))
        return end_year - start_year
    except:
        return 0

# Apply the functions to add derived columns
df['Wickets_BBM'] = df['BBM'].apply(extract_wickets_bbm)
df['Span_Years'] = df['Span'].apply(calculate_span_years)

# Filter records based on the conditions
filtered_df = df[
    (df['Wickets_BBM'] > 11) &
    (df['Mat'] > 15) &
    (df['Span_Years'] > 3)
]

# Display the filtered records
# print(filtered_df)
filtered_df

,Player,Span,Mat,Inns,Balls,Runs,Wkts,BBI,BBM,Ave,Econ,SR,5_wkts,Wickets_BBM,Span_Years
0,Imran Khan,1971-1992,88,142,19458,8258,362,8/58,14/116,22.81,2.54,53.7,23,14,21
1,Abdul Qadir,1977-1990,67,111,17126,7742,236,9/56,13/101,32.80,2.71,72.5,15,13,13
2,Waqar Younis,1989-2003,87,154,16224,8788,373,7/76,13/135,23.56,3.25,43.4,22,13,14
4,Fazal Mahmood,1952-1962,34,53,9834,3434,139,7/42,13/114,24.70,2.09,70.7,13,13,10
8,Danish Kaneria,2000-2010,61,112,17697,9082,261,7/77,12/94,34.79,3.07,67.8,15,12,10

### Part 5 

You have been provided with a dataset in the form of a CSV file, which you have already worked with to perform various tasks. Now, as the final task:

1. Download Updated Data:
Access the updated dataset available at the following URL:

https://stats.espncricinfo.com/ci/engine/stats/index.html?class=1;filter=advanced;orderby=bowling_average;qualmin2=50;qualval2=wickets;size=200;spanmax1=01+Nov+2024;spanmin1=01+Jan+1950;spanval1=span;team=7;template=results;type=bowling


3. Merge and Update:

Use the updated records from the URL to create a new CSV file that includes the updates.

Ensure this new CSV file reflects the merged data (original + updated) appropriately.



3. Repeat the Tasks:
Perform the same tasks you completed earlier on the updated dataset, and compare your results with the original dataset.


4. Analysis and Report:
Provide a brief report highlighting:

The changes in results after updating the dataset.

Data given in the csv file is not updated to new records, new records can be access through this web link. 

#### Important Note:
- Any manipulation in data should be done in the Data Frame and code should be written properly.
- Data used other than given in csv will not be marked.
- CSV file should be named updated_Bowl.csv and be submitted in attached
- All group member must submit the same file

In [84]:
url='https://stats.espncricinfo.com/ci/engine/stats/index.html?class=1;filter=advanced;orderby=bowling_average;qualmin2=50;qualval2=wickets;size=200;spanmax1=01+Nov+2024;spanmin1=01+Jan+1950;spanval1=span;team=7;template=results;type=bowling'

In [85]:
import pandas as pd

def update_player_data(old_df, new_df):
    """
    Removes matching rows from old_df and adds new rows from new_df based on Player names.
    
    Parameters:
    old_df (pandas.DataFrame): Original DataFrame containing all player data
    new_df (pandas.DataFrame): DataFrame containing updated data for some players
    
    Returns:
    pandas.DataFrame: Updated DataFrame with old rows removed and new rows added
    """
    # Create a copy to avoid modifying the original DataFrame
    updated_df = old_df.copy()
    
    # Remove rows where Player names match with new_df
    updated_df = updated_df[~updated_df['Player'].isin(new_df['Player'])]
    
    # Concatenate the remaining old rows with the new rows
    final_df = pd.concat([updated_df, new_df], ignore_index=True)
    
    return final_df

In [86]:
df2 = pd.read_csv("new_clean.csv")
df1 = pd.read_csv("Data_bowl.csv")

In [87]:
merged_df = update_player_data(df1, df2)

In [88]:
merged_df

,Player,Span,Mat,Inns,Balls,Runs,Wkts,BBI,BBM,Ave,Econ,SR,5_wkts
0,Zulfiqar Ahmed,1952-1956,9,10,1285,366,20,6/42,11/79,18.30,1.70,64.2,2
1,Aamer Nazir,1993-1995,6,12,1057,597,20,5/46,8/96,29.85,3.38,52.8,1
2,Aamer Sohail,1992-2000,47,46,2383,1049,25,4/54,4/44,41.96,2.64,95.3,0
3,Aizaz Cheema,2011-2012,7,14,1200,638,20,4/24,8/103,31.90,3.19,60.0,0
4,Akram Raza,1989-1995,9,14,1526,732,13,3/46,6/129,56.30,2.87,117.3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,Mudassar Nazar,1976-1989,76,96,5967,2532,66,6/32,6/38,38.36,2.54,90.4,1
78,Mahmood Hussain,1952-1962,27,42,5910,2628,68,6/67,6/88,38.64,2.66,86.9,2
79,Rahat Ali,2013-2018,21,39,4227,2264,58,6/127,7/100,39.03,3.21,72.8,2
80,Zulfiqar Babar,2013-2016,15,28,4478,2129,54,5/74,8/233,39.42,2.85,82.9,2
81,Mohammad Sami,2001-2012,36,66,7499,4483,85,5/36,8/106,52.74,3.58,88.2,2

In [89]:
df = merged_df

# Running previous cells on merged_df

#### Display top 6 values of your data (no need of sorting )

In [90]:
df.head(6)

,Player,Span,Mat,Inns,Balls,Runs,Wkts,BBI,BBM,Ave,Econ,SR,5_wkts
0,Zulfiqar Ahmed,1952-1956,9,10,1285,366,20,6/42,11/79,18.30,1.70,64.2,2
1,Aamer Nazir,1993-1995,6,12,1057,597,20,5/46,8/96,29.85,3.38,52.8,1
2,Aamer Sohail,1992-2000,47,46,2383,1049,25,4/54,4/44,41.96,2.64,95.3,0
3,Aizaz Cheema,2011-2012,7,14,1200,638,20,4/24,8/103,31.90,3.19,60.0,0
4,Akram Raza,1989-1995,9,14,1526,732,13,3/46,6/129,56.30,2.87,117.3,0
5,Arshad Khan,1997-2005,9,17,2538,960,32,5/38,7/92,30.00,2.26,79.3,1

#### Display bottom 6 values of your data (no need of sorting )

In [91]:
df.tail(6)

,Player,Span,Mat,Inns,Balls,Runs,Wkts,BBI,BBM,Ave,Econ,SR,5_wkts
76,Nasim-ul-Ghani,1958-1973,29,40,4406,1959,52,6/67,8/120,37.67,2.66,84.7,2
77,Mudassar Nazar,1976-1989,76,96,5967,2532,66,6/32,6/38,38.36,2.54,90.4,1
78,Mahmood Hussain,1952-1962,27,42,5910,2628,68,6/67,6/88,38.64,2.66,86.9,2
79,Rahat Ali,2013-2018,21,39,4227,2264,58,6/127,7/100,39.03,3.21,72.8,2
80,Zulfiqar Babar,2013-2016,15,28,4478,2129,54,5/74,8/233,39.42,2.85,82.9,2
81,Mohammad Sami,2001-2012,36,66,7499,4483,85,5/36,8/106,52.74,3.58,88.2,2

#### Using pandas ```shape```  command display the size of your data

In [92]:
print(df.shape)

(82, 13)

### Part 2
#### Using pandas sort_values command sort the data on the basis of number of matches played in descending order

In [93]:
df.columns

Index(['Player', 'Span', 'Mat', 'Inns', 'Balls', 'Runs', 'Wkts', 'BBI', 'BBM',
       'Ave', 'Econ', 'SR', '5_wkts'],
      dtype='object')

In [94]:
df.sort_values(by='Mat', ascending=False)

,Player,Span,Mat,Inns,Balls,Runs,Wkts,BBI,BBM,Ave,Econ,SR,5_wkts
15,Javed Miandad,1976-1993,124,36,1470,682,17,3/74,5/94,40.11,2.78,86.4,0
37,Younis Khan,2000-2017,118,31,804,491,9,2/23,4/50,54.55,3.66,89.3,0
43,Wasim Akram,1985-2002,104,181,22627,9779,414,7/119,11/110,23.62,2.59,54.6,25
28,Saleem Malik,1982-1999,103,30,734,414,5,1/3,1/3,82.80,3.38,146.8,0
39,Imran Khan,1971-1992,88,142,19458,8258,362,8/58,14/116,22.81,2.54,53.7,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,Zulfiqar Ahmed,1952-1956,9,10,1285,366,20,6/42,11/79,18.30,1.70,64.2,2
20,Mohammad Farooq,1960-1965,7,11,1422,682,21,4/70,5/82,32.47,2.87,67.7,0
3,Aizaz Cheema,2011-2012,7,14,1200,638,20,4/24,8/103,31.90,3.19,60.0,0
1,Aamer Nazir,1993-1995,6,12,1057,597,20,5/46,8/96,29.85,3.38,52.8,1
36,Tanvir Ahmed,2010-2013,5,10,707,453,17,6/120,6/149,26.64,3.84,41.5,1

#### Check if Zaheer Abbas is present in our Data using ```in``` command

In [95]:
"Zaheer Abbas" in df['Player'].values

True

#### Check if Majid Khan is present in  our Data using ```in``` command

In [96]:
"Majid Khan" in df['Player'].values

True

#### Using str.contains() command display the records of all the bowlers with name abbas

In [97]:
df[df['Player'].str.contains("abbas", case=False)]

,Player,Span,Mat,Inns,Balls,Runs,Wkts,BBI,BBM,Ave,Econ,SR,5_wkts
38,Zaheer Abbas,1969-1985,78,14,370,132,3,2/21,2/26,44.00,2.14,123.3,0
40,Mohammad Abbas,2017-2021,25,44,5134,2072,90,5/33,10/95,23.02,2.42,57.0,4

### Part 3 
### Example:
#### To display the data of Players who have taken more than 50 wicket we use following commands

In [98]:
mask1= df['Wkts']>=50
df[mask1]

,Player,Span,Mat,Inns,Balls,Runs,Wkts,BBI,BBM,Ave,Econ,SR,5_wkts
39,Imran Khan,1971-1992,88,142,19458,8258,362,8/58,14/116,22.81,2.54,53.7,23
40,Mohammad Abbas,2017-2021,25,44,5134,2072,90,5/33,10/95,23.02,2.42,57.0,4
41,Shabbir Ahmed,2003-2005,10,19,2576,1175,51,5/48,8/109,23.03,2.73,50.5,2
42,Waqar Younis,1989-2003,87,154,16224,8788,373,7/76,13/135,23.56,3.25,43.4,22
43,Wasim Akram,1985-2002,104,181,22627,9779,414,7/119,11/110,23.62,2.59,54.6,25
44,Pervez Sajjad,1964-1973,19,35,4145,1410,59,7/74,9/112,23.89,2.04,70.2,3
45,Khan Mohammad,1952-1958,13,22,3157,1292,54,6/21,8/41,23.92,2.45,58.4,4
46,Mohammad Asif,2005-2010,23,44,5171,2583,106,6/41,11/71,24.36,2.99,48.7,7
47,Fazal Mahmood,1952-1962,34,53,9834,3434,139,7/42,13/114,24.7,2.09,70.7,13
48,Shoaib Akhtar,1997-2007,46,82,8143,4574,178,6/11,11/78,25.69,3.37,45.7,12
49,Hasan Ali,2017-2024,24,46,4295,2185,80,5/27,10/114,27.31,3.05,53.6,6
50,Noman Ali,2021-2024,17,32,3753,1853,67,8/46,11/147,27.65,2.96,56.0,6
51,Shaheen Shah Afridi,2018-2024,31,53,6162,3235,116,6/51,10/94,27.88,3.14,53.1,4
52,Saeed Ajmal,2009-2014,35,67,11592,5003,178,7/55,11/111,28.1,2.58,65.1,10
53,Iqbal Qasim,1976-1988,50,86,13019,4807,171,7/49,11/118,28.11,2.21,76.1,8
54,Asif Iqbal,1964-1980,58,54,3864,1502,53,5/48,6/75,28.33,2.33,72.9,2
55,Mushtaq Mohammad,1959-1979,57,70,5260,2309,79,5/28,9/119,29.22,2.63,66.5,3
56,Abdur Rehman,2007-2014,22,43,6892,2910,99,6/25,8/92,29.39,2.53,69.6,2
57,Saqlain Mushtaq,1995-2004,49,86,14070,6206,208,8/164,10/155,29.83,2.64,67.6,13
58,Mohammad Amir,2009-2019,36,67,7619,3627,119,6/44,7/64,30.47,2.85,64.0,4
59,Yasir Shah,2014-2022,48,89,14255,7657,244,8/41,14/184,31.38,3.22,58.4,16
60,Tauseef Ahmed,1980-1993,34,58,7778,2950,93,6/45,9/77,31.72,2.27,83.6,3
61,Junaid Khan,2011-2015,22,41,4605,2253,71,5/38,8/151,31.73,2.93,64.8,5
62,Sarfraz Nawaz,1969-1984,55,95,13951,5798,177,9/86,11/125,32.75,2.49,78.8,4
63,Abdul Qadir,1977-1990,67,111,17126,7742,236,9/56,13/101,32.8,2.71,72.5,15
64,Mushtaq Ahmed,1990-2003,52,89,12532,6100,185,7/56,10/106,32.97,2.92,67.7,10
65,Umar Gul,2003-2013,47,90,9599,5553,163,6/135,9/164,34.06,3.47,58.8,4
66,Mohammad Hafeez,2003-2018,55,77,4067,1808,53,4/16,4/48,34.11,2.66,76.7,0
67,Wahab Riaz,2010-2018,27,49,5018,2864,83,5/63,7/134,34.5,3.42,60.4,2
68,Aaqib Javed,1989-1998,22,37,3918,1874,54,5/84,8/118,34.7,2.86,72.5,1
69,Danish Kaneria,2000-2010,61,112,17697,9082,261,7/77,12/94,34.79,3.07,67.8,15
70,Azeem Hafeez,1983-1985,18,28,4351,2204,63,6/46,7/160,34.98,3.03,69.0,4
71,Naseem Shah,2019-2024,19,31,3225,1982,56,5/31,6/85,35.39,3.68,57.5,1
72,Wasim Raja,1973-1985,57,69,4082,1826,51,4/50,6/86,35.8,2.68,80.0,0
73,Intikhab Alam,1959-1977,47,78,10474,4494,125,7/52,11/130,35.95,2.57,83.7,5
74,Sikander Bakht,1976-1983,26,45,4870,2412,67,8/69,11/190,36.0,2.97,72.6,3
75,Abdul Razzaq,1999-2006,46,76,7008,3694,100,5/35,7/155,36.94,3.16,70.0,1
76,Nasim-ul-Ghani,1958-1973,29,40,4406,1959,52,6/67,8/120,37.67,2.66,84.7,2
77,Mudassar Nazar,1976-1989,76,96,5967,2532,66,6/32,6/38,38.36,2.54,90.4,1
78,Mahmood Hussain,1952-1962,27,42,5910,2628,68,6/67,6/88,38.64,2.66,86.9,2
79,Rahat Ali,2013-2018,21,39,4227,2264,58,6/127,7/100,39.03,3.21,72.8,2
80,Zulfiqar Babar,2013-2016,15,28,4478,2129,54,5/74,8/233,39.42,2.85,82.9,2
81,Mohammad Sami,2001-2012,36,66,7499,4483,85,5/36,8/106,52.74,3.58,88.2,2

####  Write a snippet of code which  displays the name of record where captain name starts with ```I```
<i> Hint: if your answer includes 'Asif Iqbal' answer is incorrect</i>

In [99]:
mask2 = df.Player.str.startswith("I")

df[mask2]

,Player,Span,Mat,Inns,Balls,Runs,Wkts,BBI,BBM,Ave,Econ,SR,5_wkts
14,Imran Farhat,2001-2013,40,15,427,284,3,2/69,2/69,94.66,3.99,142.3,0
39,Imran Khan,1971-1992,88,142,19458,8258,362,8/58,14/116,22.81,2.54,53.7,23
53,Iqbal Qasim,1976-1988,50,86,13019,4807,171,7/49,11/118,28.11,2.21,76.1,8
73,Intikhab Alam,1959-1977,47,78,10474,4494,125,7/52,11/130,35.95,2.57,83.7,5


#### Coloumn BBI gives the number of wicket against runs given i.e 8/ 58 represets 8 wickets for 58 runs, Make a list which contains only wickets 
<i> Hint: make a list of BBI by split on '/'</i>

In [100]:
wickets = df.BBI.str.split('/').str[0]
wickets

0     6
1     5
2     4
3     4
4     3
     ..
77    6
78    6
79    6
80    5
81    5
Name: BBI, Length: 82, dtype: object

### Part 4
Display the records for which wicket in BBM is greater than 11 , matches played are greater than 15 and span is greater than 3 years

In [101]:
span_mask = df['Span'].str.split("-").map(lambda x: int(x[1]) -int (x[0])) > 3

In [ ]:
dada